.Name{
    font-size: 12px;
}

.radiobuttons {
    display: flex;
    justify-content: center;
}

.together {
    display: flex;
    justify-content: center;

}

.wholeform {
    display: grid;

    .header {
        margin: 0;
        padding: 0;
    }

    .title-testdiagnosis{
        float: left;
    }

    .logo-testdiagnosis {
        float: right;
        height: 8%;
        width: 7%;
    }

    .privacyclause {
        border-style: solid;
        border-color: red;
        border-width: 2px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 90px;
        box-shadow: .5px .5px;
    }
    
}

.two{
    display: grid;
    height: 200px;
    grid-template-columns: 200px;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    left: 40%;
    padding: 5px;
}

.header {
    grid-row: 2 / 4;
}

.together {
    grid-row: span 2 / 7;
}

.diagnosis-submitbutton {
    width: 150px;
    position: relative;
    left: 45%;
}

.textname {
    width: 150px;
    height: 20px;
}

.wordname {
    padding: 10px;
    position: relative;
    bottom: 5px;
}