

body {
    background-image: linear-gradient(to right, rgb(236, 208, 115) , rgb(177, 226, 226));
    .photo4 {
        margin: auto;
        width: 1000px;
        border: 3px solid pale;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.85;
        max-width: 100%;
        height: auto;
        image-resolution: 100px;
        }

} 

.row {
    text-align: center;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    padding: 30px;
}

.inside-pic-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #558;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: dashed aqua;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}



