.navbar {
width: 100%;
background: blue;
position: relative;
margin: 0;
 .links-component{
     display: flex;
     margin: -10px;
     padding: 0px;
     position: relative 100%;
 }
 .link-items {
     display: flex;
     
 }

}