
.navbar {
height: 0%;
background: blue;


 .logo-wrapper {
     width: 9%;
     border-radius: 20px;
 }
 .links-component{
     display: flex;
     margin: -19px 0 0 0;
     float: right;
 }

}

.link-buttons{
    color: white;
    padding: 10px;
    font-size: 20px;  
    position: relative;
    top: -1em;
    left: 4em;
}

.forget-password {
    font-size: 12px;
    position: relative;
    left: -44px;
    color: white;

}

.signoutbutton {
    color: white;
    padding: 10px;
    font-size: 20px;  
    position: relative;
    top: -20px;
}

.navnonauth-wrapper {
    height: 0%;
    background: blue;
    display: flex;
}

.links-nonauthalltogether {
    width: 100%;
}

.ul-nonauth {
    float: right;
}

.ul-nonauth li {
    display: inline-block;
    padding: 10px;
    padding-top: 30px;
}

.navnonauth-wrapper {
    padding: 10px;
    padding-top: -8px;
}