.Name{
    font-size: 12px;
}

.privacyclause {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: .5px .5px;
}


.radiobuttons {
    display: flex;
    justify-content: center;
}

.together {
    display: flex;
    justify-content: center;

}